<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- Custom Configuration Sections -->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Teraque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Teraque.AssetNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Teraque.AssetNetwork.Properties.Settings>
			<setting name="DataModelEndpoint" serializeAs="String">
				<value>TcpDataModelUserNameEndpoint</value>
			</setting>
		</Teraque.AssetNetwork.Properties.Settings>
		<Teraque.Properties.Settings>
			<setting name="EventLog" serializeAs="String">
				<value>Asset Network</value>
			</setting>
			<setting name="EventLogSource" serializeAs="String">
				<value>Asset Network Script Loader</value>
			</setting>
			<setting name="OrganizationDistinctName" serializeAs="String">
				<value>O=Teraque,DC=teraque,DC=com</value>
			</setting>
		</Teraque.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="customClientCredentials" type="Teraque.PromptedClientCredentialsElement, Teraque.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a0342fac2b4228e3"/>
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<customClientCredentials>
						<serviceCertificate>
							<authentication revocationMode="NoCheck"/>
						</serviceCertificate>
					</customClientCredentials>
					<dataContractSerializer maxItemsInObjectGraph="16777216"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="TcpCertificateBinding" openTimeout="00:10:00"
          sendTimeout="00:10:00" transactionFlow="true" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="131072" />
					<security>
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="TcpUserNameBinding" openTimeout="00:10:00" sendTimeout="00:10:00"
          transactionFlow="true" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="131072" />
					<security mode="Message">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://Ariel/Asset Network/Data Model/Certificate"
        binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding"
        contract="IDataModel" name="TcpDataModelCertificateEndpoint" />
			<endpoint address="net.tcp://Ariel/Asset Network/Data Model/UserName"
        binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding"
        contract="IDataModel" name="TcpDataModelUserNameEndpoint" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Qualify Partial Assembly Names -->
			<qualifyAssembly partialName="Teraque.AssetNetwork.ClientDataModel" fullName="Teraque.AssetNetwork.ClientDataModel, Version=1.0.0.0, PublicKeyToken=36d110a6f813e399, Culture=neutral"/>
			<!-- Client Data Model -->
			<dependentAssembly>
				<assemblyIdentity name="Teraque.AssetNetwork.ClientDataModel" publicKeyToken="36d110a6f813e399" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
