<?xml version="1.0" encoding="utf-8"?>
<!-- The configuration file for SMSvcHost.exe -->
<configuration>
  <runtime>
    <gcConcurrent enabled="false" />
  </runtime>
  <system.serviceModel>
    <diagnostics performanceCounters="Off" etwProviderId="{f18839f5-27ff-4e66-bd2d-639b768cf18b}"/>
  </system.serviceModel>
  <system.serviceModel.activation>
    <net.tcp listenBacklog="10" maxPendingConnections="100" maxPendingAccepts="2" receiveTimeout="00:00:10" teredoEnabled="false">
      <allowAccounts>
        <!-- Local System account -->
        <add securityIdentifier="S-1-5-18"/>
        <!-- Local Service account -->
        <add securityIdentifier="S-1-5-19"/>
        <!-- Network Service -->
        <add securityIdentifier="S-1-5-20"/>
        <!-- Administrators -->
        <add securityIdentifier="S-1-5-32-544" />
      </allowAccounts>
    </net.tcp>
    <diagnostics performanceCountersEnabled="true" />
  </system.serviceModel.activation>
</configuration>
