<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Custom Configuration Sections -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Teraque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Teraque.AssetNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Teraque.Properties.Settings>
      <setting name="EventLog" serializeAs="String">
        <value>Asset Network</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value>Asset Network Web Service Host</value>
      </setting>
      <setting name="ActiveDirectoryRoot" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="OrganizationDistinctName" serializeAs="String">
        <value>O=Dark Bond,DC=darkbond,DC=com</value>
      </setting>
      <setting name="OrganizationConfigurationFile" serializeAs="String">
        <value>%HOMEDRIVE%%HOMEPATH%\Documents\Visual Studio 2010\Projects\Teraque\Main\Asset Network\Web Service Host\Organizations.xml</value>
      </setting>
    </Teraque.Properties.Settings>
  </applicationSettings>
  <!--Transaction timeout-->
  <system.transactions>
    <defaultSettings timeout="00:05:00"/>
  </system.transactions>
  <!-- Service Model -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Teraque.AssetNetwork.AuthorizationPolicy, Web Service Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Teraque.ActiveDirectoryValidator, Teraque.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            <clientCertificate>
              <authentication revocationMode="NoCheck"/>
            </clientCertificate>
            <serviceCertificate findValue="CN=oms.darkbond.com"/>
          </serviceCredentials>
          <dataContractSerializer maxItemsInObjectGraph="67108864"/>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpAnonymousBinding" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
        <binding name="TcpCertificateBinding" portSharingEnabled="true" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="134217728"/>
          <security>
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="TcpUserNameBinding" portSharingEnabled="true" transactionFlow="true" maxReceivedMessageSize="2147483647" receiveTimeout="00:02:00">
          <readerQuotas maxStringContentLength="134217728"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Market Service" binding="netTcpBinding" bindingConfiguration="TcpAnonymousBinding" contract="MarketService.IMarketService" name="TcpMarketServiceEndpoint"/>
    </client>
    <services>
      <service name="Teraque.AssetNetwork.DataModel">
        <host>
          <baseAddresses>
            <add baseAddress="http://oms.darkbond.com/Asset Network/Data Model"/>
            <add baseAddress="net.tcp://oms.darkbond.com/Asset Network/Data Model"/>
          </baseAddresses>
        </host>
        <endpoint address="Mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="Certificate" binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding" name="TcpDataModelCertificateEndpoint" contract="Teraque.AssetNetwork.IDataModel"/>
        <endpoint address="UserName" binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding" name="TcpDataModelUserNameEndpoint" contract="Teraque.AssetNetwork.IDataModel"/>
      </service>
      <service name="Teraque.AssetNetwork.WebService">
        <host>
          <baseAddresses>
            <add baseAddress="http://oms.darkbond.com/Asset Network/Web Service"/>
            <add baseAddress="net.tcp://oms.darkbond.com/Asset Network/Web Service"/>
          </baseAddresses>
        </host>
        <endpoint address="Mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="Certificate" binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding" name="TcpWebServiceCertificateEndpoint" contract="Teraque.AssetNetwork.IWebService"/>
        <endpoint address="UserName" binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding" name="TcpWebServiceUserNameEndpoint" contract="Teraque.AssetNetwork.IWebService"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
