<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teraque.AssetNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teraque.AssetNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Teraque.AssetNetwork.Properties.Settings>
            <setting name="MainLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MainWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="NavigationPaneWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="NavigationSplitterWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StatusBarHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>1024</value>
            </setting>
        </Teraque.AssetNetwork.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Teraque.AssetNetwork.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataModelEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="WebServiceEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="TransactionLogAge" serializeAs="String">
                <value>00:30:00</value>
            </setting>
        </Teraque.AssetNetwork.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
