<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Teraque.AssetNetwork.MarketConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Teraque.AssetNetwork.MarketConsole.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Teraque.AssetNetwork.MarketConsole.Properties.Settings>
      <setting name="TenantConfigurationFile" serializeAs="String">
        <value>Tenants.xml</value>
      </setting>
    </Teraque.AssetNetwork.MarketConsole.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="16777216"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpAnonymousBinding" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
        <binding name="TcpCertificateBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="4194304"/>
          <security>
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="TcpUserNameBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="4194304"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/Certificate" binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding" contract="WebService.IWebService" name="TcpWebServiceCertificateEndpoint"/>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/UserName" binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding" contract="WebService.IWebService" name="TcpWebServiceUserNameEndpoint"/>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Market Service" binding="netTcpBinding" bindingConfiguration="TcpAnonymousBinding" contract="MarketService.IMarketService" name="TcpMarketServiceEndpoint"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
