<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teraque.Properties.Settings.LicenseConnectionString"
            connectionString="Data Source=OTHELLO;Initial Catalog=License;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Teraque.LicenseGenerator.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Teraque.LicenseGenerator.Properties.Settings.LicenseConnectionString"
            connectionString="Data Source=OTHELLO;Initial Catalog=License;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>