<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teraque.Properties.Settings.LicenseConnectionString"
            connectionString="Data Source=ARIEL;Initial Catalog=License;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>