<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teraque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teraque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Teraque.Properties.Settings>
            <setting name="BreadcrumbWidth" serializeAs="String">
                <value>868</value>
            </setting>
            <setting name="DeletedRecordAge" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="DetailHeight" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="ExplorerWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExplorerWindowHeight" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="ExplorerWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="ExplorerWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExplorerWindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="ExplorerWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="IsDetailClipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDetailVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLibraryVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMenuVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNavigationVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPersistent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPreviewVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStatusVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogCompressionInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="LogCompressionSize" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="NavigationWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PreviewWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReconcileBufferSize" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="Thumbprint" serializeAs="String">
                <value />
            </setting>
            <setting name="TransactionBufferSize" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="UserDistinguishedName" serializeAs="String">
                <value />
            </setting>
            <setting name="WebServicesEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchWidth" serializeAs="String">
                <value>244</value>
            </setting>
            <setting name="RememberCredentials" serializeAs="String">
                <value>True</value>
            </setting>
        </Teraque.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Teraque.Properties.Settings>
            <setting name="DataInstanceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="EventLogLogName" serializeAs="String">
                <value>Application</value>
            </setting>
            <setting name="EventLogSource" serializeAs="String">
                <value />
            </setting>
            <setting name="LockTimeout" serializeAs="String">
                <value>-00:00:00.0010000</value>
            </setting>
            <setting name="UserMappingFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsMultiuserLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ActiveDirectoryRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="OrganizationDistinctName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdministratorUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdministratorPassword" serializeAs="String">
                <value />
            </setting>
        </Teraque.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
