<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Custom Configuration Sections -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Teraque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Teraque.AssetNetwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Teraque.AssetNetwork.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>Asset Network Explorer</value>
      </setting>
      <setting name="DataModelEndpoint" serializeAs="String">
        <value>TcpDataModelUserNameEndpoint</value>
      </setting>
      <setting name="WebServiceEndpoint" serializeAs="String">
        <value>TcpWebServiceUserNameEndpoint</value>
      </setting>
    </Teraque.AssetNetwork.Properties.Settings>
    <Teraque.Properties.Settings>
      <setting name="EventLog" serializeAs="String">
        <value>Asset Network</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value>Asset Network Explorer</value>
      </setting>
      <setting name="OrganizationDistinctName" serializeAs="String">
        <value>O=Dark Bond,DC=darkbond,DC=com</value>
      </setting>
    </Teraque.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="customClientCredentials" type="Teraque.PromptedClientCredentialsElement, Teraque.Server, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <customClientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </customClientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="16777216"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpCertificateBinding" transactionFlow="true" sendTimeout="00:03:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304"/>
          <security>
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="TcpUserNameBinding" transactionFlow="true" sendTimeout="00:03:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Data Model/Certificate" binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding" behaviorConfiguration="clientBehavior" contract="IDataModel" name="TcpDataModelCertificateEndpoint"/>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Data Model/UserName" binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding" behaviorConfiguration="clientBehavior" contract="IDataModel" name="TcpDataModelUserNameEndpoint"/>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/Certificate" binding="netTcpBinding" bindingConfiguration="TcpCertificateBinding" behaviorConfiguration="clientBehavior" contract="WebService.IWebService" name="TcpWebServiceCertificateEndpoint"/>
      <endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/UserName" binding="netTcpBinding" bindingConfiguration="TcpUserNameBinding" behaviorConfiguration="clientBehavior" contract="WebService.IWebService" name="TcpWebServiceUserNameEndpoint"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
