<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Teraque.AssetNetwork.Market.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <system.web>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="clientBehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication revocationMode="NoCheck"/>
						</serviceCertificate>
					</clientCredentials>
					<dataContractSerializer maxItemsInObjectGraph="16777216"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="TcpAnonymousBinding" portSharingEnabled="true">
          <security mode="None"/>
        </binding>
				<binding name="TcpCertificateBinding" transactionFlow="true" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="4194304"/>
					<security>
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
				<binding name="TcpUserNameBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" receiveTimeout="24:00:00">
					<readerQuotas maxStringContentLength="4194304"/>
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/Certificate" binding="netTcpBinding" behaviorConfiguration="clientBehavior" bindingConfiguration="TcpCertificateBinding" contract="WebService.IWebService" name="TcpWebServiceCertificateEndpoint"/>
			<endpoint address="net.tcp://oms.darkbond.com/Asset Network/Web Service/UserName" binding="netTcpBinding" behaviorConfiguration="clientBehavior" bindingConfiguration="TcpUserNameBinding" contract="WebService.IWebService" name="TcpWebServiceUserNameEndpoint"/>
		</client>
		<services>
			<service name="Teraque.AssetNetwork.MarketService" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://oms.darkbond.com/Asset Network/Market Service"/>
						<add baseAddress="net.tcp://oms.darkbond.com/Asset Network/Market Service"/>
					</baseAddresses>
				</host>
        <endpoint address="Mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<endpoint binding="netTcpBinding" bindingConfiguration="TcpAnonymousBinding" name="TcpMarketServiceEndpoint" contract="Teraque.AssetNetwork.IMarketService"/>
			</service>
		</services>
	</system.serviceModel>
 <applicationSettings>
   <Teraque.AssetNetwork.Market.Properties.Settings>
   <setting name="SourceConfigurationFile" serializeAs="String">
    <value>C:\Source\Order Management\Asset Network\Market Console\Market Simulator\Sources.xml</value>
   </setting>
  </Teraque.AssetNetwork.Market.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
